li.placeholder {
  height: 310px;
  border: 5px solid darken($hla-green, 10%);
  border-radius: 5px;
}

.homepage-box-list {
  list-style: none;
  li {
    margin-bottom: 15px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  li:last-child:not(:first-child) { float: right; }
}

.adoption-text {
  color: $hla-text;
}

.homepage-box {
  display: block;
  height: 310px;
  overflow: hidden;

  background-color: white;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.1);

  position: relative;

  .box-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 210px;
  }

  h2 {
   font-size: 26px;
   margin: 0;
  }

  header {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;

    h2 {
      line-height: 1em;
    }

    .pet-badges {
      list-style-type: none;
      height: 26px;

      li {
        display: inline-block;
        width: 26px;
        height: 26px;
        margin: 0 5px 0 0;
        vertical-align: bottom;
        text-align: center;
        color: #fff;
      }

      li.age {
        background-color: #6eb980;
        border-radius: 50%;
        padding: 0;
        span {
          font-weight: bold;
          line-height: 22px;
          font-size: 1.2em;
        }
        &.puppy span { font-size: 0.9em; }
      }
      li.male, li.female {
        background: transparent no-repeat center top;
        background-size: contain;
        span { display: none; }
      }

      li.female {
        background-image: url('../images/attributes/female.png');
      }
      li.male {
        background-image: url('../images/attributes/male.png');
      }
    }
  }

  a { color: $body-font-color; }

  .box-picture {
    height: 100px;
    overflow-y: hidden;
    vertical-align: middle;

    img { width: 100%; }
  }

  .adopted-badge {
    position: absolute;
    right: -30px;
    top: 20px;
    transform: rotate(45deg);
    width: 130px;
    height: 30px;
    background: #9DCC7D url('../images/steak.png') no-repeat 83px 8px;
    background-size: 19px;
    color: #34690F;
    line-height: 30px;
    padding-right: 50px;
  }

  .pet-details {
    padding: 3px 5px 8px;
    position: relative;

    .foster-badge {
      $foster-badge-width: 80px;
      width: $foster-badge-width;

      position: absolute;
      left: calc(50% - #{$foster-badge-width / 2});
      top: -11px;

      box-shadow: 0 1px 2px rgba(30, 30, 30, 0.1);

      font-weight: bold;
      text-align: center;
      background-color: #ffd060;
      color: #ce6101;
      border-radius: 5px;
      font-size: 12px;
    }

    .pet-description {
      margin-top: 10px;
      height: 38px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      margin: 0;
    }
  }

  a.button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: 0;
  }

  .admin-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 10px 3px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }
  &:hover .admin-bar { display: block; }
  .remove, .handle {
    background: none;
    padding: 0;
    margin: 0;
    color: #333;
    font-size: 22px;
    line-height: 22px;
    &:hover { font-weight: bold; }
  }
  .remove { float: left; }
  .handle {
    float: right;
    cursor: move;
  }

  form {
    @include contact-form;

    p:last-of-type {
      position: relative;
    }

    .button {
      width: 100%;
      position: absolute;
      top: 11px;
      left: 0;
      right: 0;
      height: 33px;
      line-height: 32px;
    }
    .wpcf7-text { background-color: #f3f3f3; }

    .wpcf7-validation-errors, .wpcf7-not-valid-tip { display: none !important; }
    .wpcf7-response-output { margin: 0; }
  }
}

.type-pet {
  .box-picture {
    background-color: #eee;
    height: 200px;
    line-height: 200px;
  }

  .pet-link { display: none; }

  .homepage-box:hover {
    $hover-color: #628bd8;

    box-shadow: 0 0 0 5px $hover-color;
    position: relative;

    a::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      opacity: 0.3;
      pointer-events: none;
    }

    .pet-link {
      display: inline-block;
      position: absolute;
      top: 125px;
      left: 40px;

      background-color: $hover-color;
      color: white;

      padding: 0 10px;
      border-radius: 5px;
    }
  }
}

.type-post, .type-page {
  .homepage-box {
    text-align: center;
    padding: 20px;

    h2 {
      margin-bottom: 15px;
      font-size: 40px;
      line-height: 0.9;
    }

    p {
      font-size: 20px;
      margin: 0 {
        bottom: 15px;
      };
    }

    input:not(.button) {
      margin-bottom: 5px;
    }

    form {
      p { margin-bottom: 0; }
    }
  }

  .homepage-box-notebook {
    background: repeating-linear-gradient(white,
                                          white 18px,
                                          #eaf6f2 18px,
                                          #eaf6f2 20px);

    .box-picture {
      margin-bottom: 20px;
    }

    .box-content {
      display: block;
      text-align: right;
      height: 140px;
      overflow-y: hidden;
    }

    h2, p { line-height: 20px; }

    h2 {
      font-size: 20px;
      margin: 0;
    }
    p { font-size: 14px; }
  }
}

@mixin color-box($color) {
  background-color: $color;

  @if($color != #fff) {
    color: #fff;
    h2, a { color: #fff; }
  }

  .button {
    $button_color: if($color == #fff, darken(#9ecb80, 10%), $color);
    @include color-button($button_color);
  }
}

.homepage-box-green  { @include color-box(#80cb9c); }
.homepage-box-orange { @include color-box(#f6ad89); }
.homepage-box-blue   { @include color-box(#4cafce); }
.homepage-box-white  { @include color-box(#fff);    }

#pet-search-form {
  display: inline-block;
  margin-left: 15px;

  select {
    width: 70px;
    border: 1px solid $hla-text;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    height: 22px;
    margin-right: 10px;
    background-color: #fff;

    &[name=breed] { width: 100px; }
  }
}

.adoption-widget-title {
  font-size: 20px;
  color: $hla-text;
}

.no-results {
  p {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #bfe4a6;
    border-radius: 20px;
  }
  h2 { margin: 0; }
}

.cat-switch {
  display: inline-block;
  background: transparent url('../images/cat-switch.png') no-repeat 0 0;
  background-size: contain;
  width: 100px;
  height: 26px;

  span, a {
    font-size: 14px;
    color: white;
    display: inline-block;
    width: 46px;
    text-align: center;
  }
}
