.top-bar {
  height: 150px;
}

.top-bar-section {
  margin-top: 60px;
	ul {
		padding: 0 15px;
	}
}

.title-area {
  h1 a {
    margin-top: 15px;
    span { display: none; }
  }
}

.top-bar-container {
  box-shadow: 0 3px 5px transparentize($hla-text, 0.5);
  position: relative;
}

// Switch between the mobile menu (tab-bar) and desktop menu (topbar) based on a custom $topbar-breakpoint value.
// The $topbar-breakpoint can be edited in _custom-settings.scss.

@media only screen and (min-width: ($topbar-breakpoint + em-calc(1))) {
  .tab-bar { display: none; }
}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-breakpoint) {
  .top-bar { display: none; }
}
