.site-header {
  box-shadow: 0 3px 5px transparentize($hla-text, 0.5);
  position: relative;
}

.main-navigation {
  height: 100px;
  width: 1000px;
  margin: 0 auto;

  .top-bar-left {
    padding-top: 35px;
  }
}

.top-bar-section {
  margin-top: 60px;
	ul {
		padding: 0 15px;
	}
}

.title-area {
  h1 a {
    margin-top: 0px;
    span { display: none; }
    display: block;
  }
}

@media only screen and (min-width: ($topbar-unstack-breakpoint + em-calc(1))) {
  .tab-bar { display: none; }
}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-unstack-breakpoint) {
  .top-bar { display: none; }
}
