.site-header {
  box-shadow: 0 3px 5px transparentize($hla-text, 0.5);
  position: relative;
}

.main-navigation {
  height: 100px;
  width: 60rem;
  margin: 0 auto;

  .top-bar-left {
    padding-top: 35px;
  }
}

.top-bar-section {
  margin-top: 60px;
	ul {
		padding: 0 15px;
	}
}

.top-bar-end {
  float: left;
  margin: 0 15px 0 22px;
  padding-top: 7px;
}

.title-area {
  h1 a {
    $size: 100px;

    display: block;
    height: $size;
    background: transparent url('../images/hla-logo-small.png') no-repeat 100% 50%;
    background-size: $size;
    padding: 10px ($size + 10px) 0 0;
    color: $hla-black;

    span { display: block; }

    .name {
      font-size: 34px;
      width: 180px;
      line-height: 0.8em;
      letter-spacing: -0.5px
    }
    .description {
      margin-top: 5px;
      font-size: 16px;
    }
  }
}

@media only screen and (min-width: ($topbar-unstack-breakpoint + em-calc(1))) {
  .tab-bar { display: none; }
}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-unstack-breakpoint) {
  .top-bar { display: none; }
}
