.homepage-box {
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);

  h2 {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 26px;
   font-weight: bold;
  }

  .pet-details {
    padding: 3px {
      bottom: 8px
    }

    p {
      margin: 0;
    }
  }

}
