li.placeholder {
  height: 310px;
  border: 5px solid darken($hla-green, 10%);
  border-radius: 5px;
}

.homepage-box {
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);

  position: relative;

  display: block;
  height: 310px;

  h2 {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 26px;
   font-weight: bold;
   margin: 0;
  }

  a { color: $body-font-color; }

  .box-picture {
    height: 100px;
    overflow-y: hidden;
    vertical-align: middle;

    img { width: 100%; }
  }

  .pet-details {
    padding: 3px {
      bottom: 8px
    }

    .pet-description {
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      margin: 0;
    }
  }

  .button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 270px;
    margin: 0;
  }

  .admin-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 10px 3px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }
  &:hover .admin-bar { display: block; }
  .remove, .handle {
    background: none;
    padding: 0;
    margin: 0;
    color: #333;
    font-size: 22px;
    line-height: 22px;
    &:hover { font-weight: bold; }
  }
  .remove { float: left; }
  .handle {
    float: right;
    cursor: move;
  }
}

.type-pet {
  .box-picture {
    background-color: #eee;
    height: 200px;
    line-height: 200px;
  }

  .pet-link { display: none; }

  .homepage-box:hover {
    $hover-color: #628bd8;

    box-shadow: 0 0 0 5px $hover-color;
    position: relative;

    a::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      opacity: 0.3;
      pointer-events: none;
    }

    .pet-link {
      display: inline-block;
      position: absolute;
      top: 125px;
      left: 40px;

      background-color: $hover-color;
      color: white;

      padding: 0 10px;
      border-radius: 5px;
    }
  }
}

.type-post, .type-page {
  .homepage-box {
    text-align: center;
    padding: 20px;

    h2 {
      margin-bottom: 10px;
      font-size: 36px;
      line-height: 1.2;
    }
    p {
      font-size: 18px;
      margin: 0;
      line-height: 1.4;
    }

    input:not(.button) {
      margin-bottom: 5px;
    }
  }

  .homepage-box-notebook {
    text-align: right;
    background: repeating-linear-gradient(white,
                                          white 20px,
                                          #eaf6f2 20px,
                                          #eaf6f2 22px);
    h2 { font-size: 22px; }
  }
}

@mixin color-box($color) {
  background-color: $color;

  @if($color != #fff) {
    color: #fff;
    h2, a { color: #fff; }
  }

  $button_color: if($color == #fff, darken(#9ecb80, 10%), $color);

  .button {
    border-radius: 4px;
    border-bottom: 2px solid darken($button_color, 10%);
    background-color: lighten($button_color, 10%);
    padding: 8px 32px;
    display: inline-block;
    font-weight: bold;

    &:hover, &:focus {
      background-color: lighten($button_color, 20%);
      outline: 0;
    }

    &:active {
      border-bottom: 0;
      margin-top: 2px;
    }
  }
}

.homepage-box-green  { @include color-box(#80cb9c); }
.homepage-box-orange { @include color-box(#f6ad89); }
.homepage-box-blue   { @include color-box(#4cafce); }
.homepage-box-white  { @include color-box(#fff);    }
