.pet-gallery {
  height: 480px;
  list-style-type: none;
  text-align: center;
  margin-right: 0;
  margin-bottom: 50px;

  li {
    outline: 0;
    background-color: darken($hla-green, 2%);

    img {
      max-height: 480px;
      margin: 0 auto;
    }
  }


  // avoid FOUC
  li:not(:first-of-type):not(.slick-slide) { display: none; }

  .slick-arrow {
    width: 50px;
    height: 50px;

    &::before {
      background-color: #fff;
      border-radius: 50%;
      font-size: 30px;
      font-family: FontAwesome;
      color: #333;
      padding: 10px;
      display: block;
    }
  }

  .slick-prev {
    right: -75px;
    &::before { content: "\f105"; }
  }

  .slick-next {
    left: -75px;

    &:before { content: "\f104"; }
  }
}

.pet-contact {
  border-right: 1px solid #fff;
  padding-right: 20px;

  h2 {
    font-size: 20px;
    text-align: center;
    color: $hla-text;
  }

  p {
    margin: 0 0 10px;
    &:last-of-type { margin: 0; }
  }

  @include contact-form;

  input[type=submit] { width: 100%; }
}

.entry-content {
  p {
    font-size: 20px;
  }
}

.pet-attributes {
  list-style-type: none;
  margin: 30px 0 0;

  li {
    display: inline-block;
    vertical-align: top;
    width: 65px;
    padding-top: 70px;
    text-align: center;
    background: transparent no-repeat center top;
    background-size: contain;
    font-size: 12px;
    margin-left: 20px;
  }

  $attributes_list: calm energetic housebroken hypoallergenic licker low-shedder neutered noble puppy;
  @each $attribute in $attributes_list {
    li.#{$attribute} {
      background-image: url('../assets/img/attributes/#{$attribute}.png');
    }
  }
}

.comment-list {
  list-style: none;
  margin: 30px 0 0;

  li {
    background-color: #f3f9ef;
    border-radius: 10px;
    padding: 35px;
    margin-bottom: 25px;
  }
}

.comment-author {
	border-top: 5px solid #9aca79;
	padding: 0;
	time {
		display: block;
		margin: 15px 0;
		color: #9aca79;
		font-weight: bold;
		font-size: 2em;
		line-height: 1em;
	}
	cite {
		display: block;
		font-style: normal;
		font-weight: bold;
		font-size: 1em;
	}
}

.comment-body p {
  font-size: 20px;
  line-height: 24px;
}

.more-dogs {
  margin-top: 50px;

  h1 {
    text-align: center;
    font-size: 2em;
    margin: 25px 0;
  }
  .button {
    @include color-button(#3969d1);
    width: 100%;
  }
}
